<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <div class="container">
       <div class="title">
           我的第一个模板
       </div>
       <div class="main">
           主要内容
       </div>
       <div>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto assumenda at error exercitationem
           hic id natus non praesentium, saepe suscipit vel velit veniam veritatis vero. Nemo placeat quaerat
           repudiandae.
       </div>
   </div>
</body>
</html>